<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpriteAnimator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpriteAnimator.Properties.Settings>
            <setting name="spriteDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="namedAttachmentDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="informationPanelIsOpenESF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentFrameCallPanelIsOpenESF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scenePanelIsOpenESF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rawOverlayColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="rendererNameString" serializeAs="String">
                <value>Software</value>
            </setting>
        </SpriteAnimator.Properties.Settings>
    </userSettings>
</configuration>